<div class="square">
    <ul class="xop-grid">
        <li>
            <div class="xop-box xop-img-1">
                <a href="#">
                    <div class="xop-info">
                        <p>Add Transaction</p>
                    </div></a>
            </div>
        </li>
        <li>
            <div class="xop-box xop-img-2">
                <a href="#">
                    <div class="xop-info">
                        <p>List of Transaction</p>
                    </div></a>
            </div>
        </li>
        <li>
            <div class="xop-box xop-img-3">
                <a href="#">
                    <div class="xop-info">
                        <p>List of Products</p>
                    </div></a>
            </div>
        </li>
        <li>
            <div class="xop-box xop-img-4">
                <a href="#">
                    <div class="xop-info">
                        <p>Statistics</p>
                    </div></a>
            </div>
        </li>
    </ul>
</div>